* {
  box-sizing: border-box;
}

:root {
--color_white: #fff;
--color_pink: #FF4F5A;
--color_black: #000;
--color_grey: #52575C
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.main__header {
  background-color: var(--color_pink);
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
}

.box__h1 a, .main__nav a {
  display: flex;
  text-decoration: none;
  align-items: center;
}

.logo {
  font-size: 1.7rem;
}

.box__h1 img {
  width: 51px;
  height: auto;
  margin-right: 5px;
}

.main__nav {
  display: flex;
}

.main__nav div {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.main__nav div:hover {
  cursor: pointer;
}

.main__nav img {
  margin-right: 5px;
}

.icon__main__nav {
  width: 17px;
  height: auto;
}

.main__nav p, a, .box__main__title h2 {
  color: var(--color_white);
}

.main__nav p, a {
  font-size: 12px;
}

main {
  margin: 0 50px;
}

.box__main__title {
  padding: 13px 80px;
  margin: 40px 0 35px;
  background-color: var(--color_pink);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__title {
  font-size: 26px;
  font-weight: 600;
}

.user__data {
  display: flex;
  padding: 20px;
  border-bottom: 3px solid #FF4F5A;
}

.user__data p {
  margin: 0 5px;
}

.strong {
  font-size: 14.5px;
  font-weight: 900;
}

.box__history__vaccines {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--color_grey);
}

.vaccines, .record {
  display: flex;
  margin: 20px 0 10px;
}

.vaccines p, .record p {
  margin: 0 5px;
}
